.app {
  text-align: center;
  width: 750px;
  height: 750px;
  position: relative;
  margin: auto;
  box-sizing: content-box;
  border: 2px solid gray;
}

.cell {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
}

.cell--station {
  font-size: 24px;
  color: grey;
}

.start {
  position: absolute;
  width: 300px;
  height: 300px;
}

.start-circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  display: inline-block;
  margin: 20px;
}

.start-circle--top {
  top: 25px;
}

.start-circle--bottom {
  top: 50px;
}

.token {
  position: absolute;
  width: 45px;
  height: 45px;
  z-index: 50;
  border-radius: 50%;
  border: 2px solid black;
}

.red-safe {
  background-color: red;
}

.yellow-safe {
  background-color: yellow;
}

.green-safe {
  background-color: green;
}

.blue-safe {
  background-color: blue;
}

.red-token {
  background-color: darkred;
}

.yellow-token {
  background-color: darkgoldenrod;
}

.green-token {
  background-color: darkgreen;
}

.blue-token {
  background-color: darkblue;
}